{% load static %}
{% include 'header.html' %}

<main class="inner">
<div class="form-wrapper py-5 d-flex justify-content-center">
    <form class="row g-3">
        
        <div class="col-md-6">
          <label for="name" class="form-label">Name</label>
          <input type="text" name="fullname" class="form-control" id="name">
        </div>
        <div class="col-md-6">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" class="form-control" id="email">
        </div>
        <div class="">
          <label for="phone" class="form-label">Phone</label>
          <input type="text" name="phone" class="form-control" id="phone">
        </div>
        <div class="">
          <label for="message" class="form-label">Message</label>
          <textarea type="text" name="message" rows="9" class="form-control" id="message"></textarea>
        </div>
       
       
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </form>
</div><!-- /.form-wrapper -->
</main>


{% include 'footer.html' %}