{% load static %}
<footer>
   <div class="footer-wrapper">
      <div class="container">
         <div class="row">
            <div class="col-md-4 ft-wrapper">
               <ul>
                  <li class="ft mb-4">
                     <h5>Menu</h5>
                  </li>
                  <li class="ft">
                     <p>track order</p>
                  </li>
                  <li class="ft">
                     <p>Be Our Distributor</p>
                  </li>
                  <li class="ft">
                     <p>search</p>
                  </li>
                  <li class="ft">
                     <p>faqs</p>
                  </li>
                  <li class="ft">
                     <p>careers</p>
                  </li>
                  <li class="ft">
                     <p>contact</p>
                  </li>
                  <li class="ft">
                     <p>about</p>
                  </li>
                  <li class="ft">
                     <p>privacy policy</p>
                  </li>
                  <li class="ft">
                     <p>T & C</p>
                  </li>
                  <li class="ft">
                     <p>refund policy</p>
                  </li>
               </ul>
            </div><!-- /.col-md-4 -->
            <div class="col-md-4">
               <div class="ft2">
                  <h5>MINI BIO</h5>
                  <p>Dari Mooch is a one stop solution for all your grooming needs. We’re the best at what we do and we
                     leave no man behind. We're on a mission to style and groom every Pakistani man to their best self!
                  </p>
               </div><!-- /.ft2 -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4">
               <div class="ft3">
                  <ul>
                     <li>
                        <h5>Contact</h5>
                     </li>
                     <li>
                        <p>support@darimooch.com</p>
                     </li>
                     <li>
                        <p>+92 316 1115556</p>
                     </li>
                     <li>
                        <p>33 E1 Shahrah e Imam Hussain Gulberg III, Lahore</p>
                     </li>
                     <li>
                        <p>Lahore</p>
                     </li>
                     <li>
                        <p>54660 Pakistan</p>
                     </li>
                     <li>
                        <ul class="ft3-inner">
                           <li><i class="bi bi-facebook"></i></li>
                           <li><i class="bi bi-instagram"></i></li>
                           <li><i class="bi bi-tiktok"></i></li>
                           <li><i class="bi bi-youtube"></i></li>
                        </ul>
                     </li>
                  </ul>
               </div><!-- /.ft3 -->
            </div><!-- /.col-md-4 -->
         </div><!-- /.row -->
      </div><!-- /.container -->
   </div><!-- /.footer-wrapper -->
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
   function replace() {
      let img = document.querySelector('#image')
      img.setAttribute('src', '{% static 'images / product - 1.jpeg' %}')
   }
   function place() {
      let img = document.querySelector('#image')
      img.setAttribute('src', '{% static 'images / product - 4.webp' %}')
   }




   function replace2() {
      let img = document.querySelector('#image2')
      img.setAttribute('src', '{% static 'images / product - 2.jpg' %}')
   }
   function place2() {
      let img = document.querySelector('#image2')
      img.setAttribute('src', '{% static 'images / product - 5.jpeg' %}')
   }




   function replace3() {
      let img = document.querySelector('#image3')
      img.setAttribute('src', '{% static 'images / product - 3.jpg' %}')
   }
   function place3() {
      let img = document.querySelector('#image3')
      img.setAttribute('src', '{% static 'images / product - 6.jpeg' %}')
   }





   function replace4() {
      let img = document.querySelector('#image4')
      img.setAttribute('src', '{% static 'images / product - 4.webp' %}')
   }
   function place4() {
      let img = document.querySelector('#image4')
      img.setAttribute('src', '{% static 'images / product - 1.jpeg' %}')
   }




   function replace5() {
      let img = document.querySelector('#image5')
      img.setAttribute('src', '{% static 'images / product - 5.jpeg' %}')
   }
   function place5() {
      let img = document.querySelector('#image5')
      img.setAttribute('src', '{% static 'images / product - 2.jpg' %}')
   }



   function replace6() {
      let img = document.querySelector('#image6')
      img.setAttribute('src', '{% static 'images / product - 6.jpeg' %}')
   }
   function place6() {
      let img = document.querySelector('#image6')
      img.setAttribute('src', '{% static 'images / product - 3.jpg' %}')
   }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
   integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
   crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
   integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
   crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% block scripts %}
      <script>
         $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            responsiveClass: true,
            responsive: {
               0: {
                  items: 1,
                  nav: true
               },
               600: {
                  items: 3,
                  nav: false
               },
               1000: {
                  items: 3,
                  nav: true,
                  loop: false
               }
            }
         })
      </script>
{% endblock %}

</body>

</html>