{% load static %} 
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <div class="head-wrapper">
          
            <div class="container">
              <div style="display: flex; justify-content: space-between; align-items: center;" class="nav-bar-top">
                <div></div>
                  <img class="logo" src="{% static 'images/dm-logo.png' %}" alt="">
                  <div class="top d-flex">
                    <form method="get" action="{% url 'search' %}"><input type="search" name="search" id=""> <button  type="submit"  style="border: 0; border-radius: 4px; padding: 4px; background-color: aqua; color: black;text-decoration: none;" href="">search</button></form>
                    <i style="margin-right: 12px; font-size: 18px;" class="bi bi-person"></i>
                    <i style="margin-right: 12px; font-size: 18px;" class="bi bi-bag"></i>
                    
                  </div><!-- /.top -->
              </div><!-- /.nav-bar-top -->
            </div><!-- /.container -->
            <nav class="navbar navbar-expand-lg ">
              <div class="container">
                
                <button class="navbar-toggler" style="margin-top: -11%;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item hovering">
                      <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item hovering">
                      <a class="nav-link active" aria-current="page" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item hovering">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                    </li>
                    <li class="nav-item hovering">
                      <a class="nav-link " aria-disabled="true">Disabled</a>
                    </li>
                    <li class="nav-item hovering">
                      <a class="nav-link" href="#">Navbar</a>
                    </li>
                    <li class="nav-item hovering">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item hovering">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                    </li>
                    <li class="nav-item hovering">
                      <a class="nav-link " aria-disabled="true">Disabled</a>
                    </li>
                    <li class="nav-item hovering">
                      <a class="nav-link" href="#">Navbar</a>
                    </li>
                    <li class="nav-item hovering">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item hovering">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                    </li>
                    <li class="nav-item hovering">
                      <a class="nav-link " aria-disabled="true">Disabled</a>
                    </li>
                   
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                    </li>
                   
                  </ul>
                 
                </div>
              </div>
            </nav>
            </div><!-- /.nav-bar -->
        </div><!-- /.page-wrrapper -->
        
    </header>